#fatura_bntsTopo{ float:right; margin-top:15px;}
#fatura_bntsTopo button{ font:11px Arial, Helvetica, sans-serif; padding:5px 8px; font-weight:bold;}

.marginTop_5p{ margin-top:5px}
.marginTop_10p{ margin-top:10px}

.logoOwner {
    height: 60px;
}

fieldset {}
.marginTop_15p{ margin-top:15px}

.pagtoFatura p {
    margin-bottom: 2px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
    color: #666;
}

.pagtoFatura p:last-child {
    margin-top: 4px;
}

.pagtoFatura h1 {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 29px;
}

.totalFatura p {
    margin-bottom: 2px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
    color: #666;
}
.marginTop_20p{ margin-top:20px}

.infoCliente {
    border-left: 1px solid #ccc;
}

.infoCliente p {font-family: "Roboto", Arial, sans-serif;font-size: 14px;color: #666;}

.infoCliente b {
    margin-bottom: 10px;
    display: block;
}

.marginBottom_5p{ margin-bottom:5px}
.marginBottom_10p{ margin-bottom:10px}
.marginBottom_15p{ margin-bottom:15px}
.marginBottom_20p{ margin-bottom:20px}

.container{
	width:850px;
	padding: 0px;
}

.infoEmpresa b{
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	font-weight:600;
}

.infoEmpresa p{
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	font-weight:400;
	color: #666;
}

.cotentFatura {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #282828;
    margin-top: 15px;
    padding: 10px 0;
}

.container .rowContent {
    margin: 0px;
    margin-bottom: 25px;
}

.itensFatura thead th {
    background: #333;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.itensFatura tbody td {font-family: "Lato", Arial, sans-serif;font-size: 13px;font-weight: 400;background: #f5f5f5;vertical-align: middle !important;}

.totalFatura {
    background: #e8e8e8;
    padding: 15px;
    color: #282828;
}

.itensFatura tbody tr td:first-child {
    padding: 10px 15px;
}

.itensFatura tbody td b {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.itensFatura tbody td b:last-child {
    font-size: 18px;
    letter-spacing: -1px;
}

.itensFatura tbody td i {font-family: "Lato", Arial, sans-serif;font-size: 13px;font-style: normal;font-weight: normal;margin-bottom: -7px;display: block;color: #c00;}

.container.rowContent {
    margin: 0px 15px;
}

.footerFatura p {
    color: #999;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

.footerFatura {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footerFatura img {
    height: 40px;
}

.faturaNotes{
	font-size: 14px;
	padding: 10px;
	border-radius: 0px !important;
}

.alert-darkblue {
    color: #fff;
    border-color: #063261;
    background: #365a8d; /* Old browsers */
    background: -moz-linear-gradient(top,  #365a8d 0%, #053160 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #365a8d 0%,#053160 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #365a8d 0%,#053160 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365a8d', endColorstr='#053160',GradientType=0 ); /* IE6-9 */
    font-size: 16px;
}

.alert-darkred {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,890000+100 */
    color: #fff;
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #890000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#890000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cc0000 0%,#890000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#890000',GradientType=0 ); /* IE6-9 */
    font-size: 16px;
}

.alert-darkgreen {
    color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+0,52b152+1,008a00+40,005700+100,002400+100,005700+102 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+0,52b152+1,005700+100,002400+100,005700+102 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#31a023+0,005700+93,005700+93 */
    background: #31a023; /* Old browsers */
    background: -moz-linear-gradient(top,  #31a023 0%, #005700 93%, #005700 93%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #31a023 0%,#005700 93%,#005700 93%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #31a023 0%,#005700 93%,#005700 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a023', endColorstr='#005700',GradientType=0 ); /* IE6-9 */
    font-size: 16px;
}

.alert-darkblack{
	color: #fff;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #525252 0%, #222222 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #525252 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #525252 0%,#222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-color: #000;
	font-size: 16px;
}

.alert-darkorange {
    color: #FFF;
    font-size: 16px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff920a+0,ed4c07+100 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+32,ffa73d+32,ff7c00+100,ff7f04+100;Orange+Gloss */
    border: 1px solid #CC6800;
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,d63b0c+100 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb70f+0,e2710d+100 */
    background: #ffb70f; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb70f 0%, #e2710d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffb70f 0%,#e2710d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffb70f 0%,#e2710d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb70f', endColorstr='#e2710d',GradientType=0 ); /* IE6-9 */
}

body{
	background: url(../images/bg_sistema.gif);
}

.btn-sm{
	font-family: "Lato", Arial, sans-serif;
	font-size:13px;
	padding:3px 8px;
}

.pagtoFatura .btn img {
    height: 30px;
}

.noPadding{
	padding: 0px;
}

.divLoading {
    padding: 10px;
    border-radius: 5px;
    background: #F7F7F7;
    border: 1px solid #DCDCDC;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #777;
    text-align: center;
}

.divLoading img {
    margin-left: 36px;
}

.totalsFatura {font-family: "Roboto", Arial, sans-serif;font-size: 22px;font-weight: 500;border-top: 1px solid #C7C7C7;margin-top: 5px;padding-top: 5px;}

.totalsFatura div:last-child {margin: 0;font-family: "Roboto", Arial, sans-serif;letter-spacing: -2px;font-weight: 600;font-size: 30px;}

.descontoFatura {font-family: "Roboto", Arial, sans-serif;font-size: 14px;color: #3c763d;}

.subtotalFatura {
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
}

fieldset {
    border: 1px solid #e0e0e0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

fieldset p {font-family: "Lato", Arial, sans-serif;font-size: 13px;color: #000;}

legend {font-family: "Roboto", Arial, sans-serif;font-size: 14px;padding: 2px 9px;/* background: #CCC; */border: 0px;border-radius: 5px;width: auto;margin: 3px;color: #999;}

.noPadding-right{
	padding-right: 0px;
}

.noPadding-left{
	padding-left: 0px;
}

.importanteFatura {
    background: #F5F5F5;
    padding: 15px;
}

.notaFatura b {font-family: "Roboto", Arial, sans-serif;font-size: 25px;font-weight: 300;margin-bottom: 5px;display: block;color: #999;}

.notaFatura li {font-family: "Roboto", Arial, sans-serif;font-size: 12px;margin-bottom: 5px;}

.noPaddingVertical{
	padding-top: 0px;
	padding-bottom: 0px;
}

.noPaddingHorizontal{
	padding-left: 0px;
	padding-right: 0px;
}

#top_header{ background:url(<?=URL_ASSETS?>/images/diag-lines.png), #444; height:60px; padding:10px;}
#top_header .handlers{ float:left; padding-right:15px; margin-right:15px; border-right:1px dotted #ccc; overflow:auto; margin-top:5px;}
#top_header .handlers .label{font: 28px "Franklin Gothic Medium Cond", "Open Sans", Arial; text-transform:uppercase; padding:2px 10px; color:#fff;border-radius: 5px;-webkit-border-radius: 5px;}
#top_header .handlers p{font: 11px "Roboto", Arial, Helvetica, sans-serif; display:block; color:#fff;}
#top_header .handlers b{font: 24px "Roboto"; display:block; color:#fff;}
#top_header .handlers b.bold_valor{ font-weight:bold; font-size:24px;}

#fatura_cliente{ background:#f6f6f6; font:13px "Lucida Sans", Arial, Helvetica, sans-serif; border:1px solid #eee; height:130px; margin:10px; padding:10px;}
#fatura_cliente div{ width:360px; height:120px; border-right:1px dotted #e0e0e0;color: #555;}
#fatura_cliente div b{ display:block; font-size:14px; margin-bottom:10px;}

#fatura_cliente div b.detalhe_cliente{ display:block;font: 14px "Roboto", Arial, sans-serif; margin-bottom:8px;font-weight: 600; height:20px;color: #CA1616;padding-left: 0px; padding-top:4px;}
#fatura_cliente div b.detalhe_endereco{ display:block;font: 14px "Roboto", Arial, sans-serif; margin-bottom:8px;font-weight: 600; height:20px;color: #CA1616;padding-left: 0px; padding-top:4px;}

#fatura_detalhe{ background:#fff; padding:10px; overflow:auto;}

#fatura_detalhe b.itens_fatura{display:block; float:left;font: 14px "Roboto", Arial, sans-serif; margin-bottom:8px; margin-top:5px;font-weight: 600; height:20px;color: #CA1616;padding-left: 0px; padding-top:4px;}

#tabela_faturaDetalhe{width: 100%;margin: 0px;font-size: 14px;}
#tabela_faturaDetalhe tr td{text-align:left;font: 13px "Lato", Tahoma, sans-serif;line-height: 20px; text-transform:none;color: #3A3A3A;}
#tabela_faturaDetalhe tr td b{color: #035177;}
#tabela_faturaDetalhe thead th{ background-color:#eeeeee; font-family:"Roboto", Arial, sans-serif; font-size:14px; font-weight:500;}

#fatura_total{ float:right; width:300px; background:#eee; border:1px dotted #ddd; padding:10px; margin-top:20px;}
#tabela_faturaTotal{ width:100%; margin:0px;}
#tabela_faturaTotal tr td{font: 13px "Roboto", Helvetica, sans-serif;line-height: 24px; color:#454545;}
#tabela_faturaTotal tr td b{ font-size:14px; font-weight:normal;}
#tabela_faturaTotal tr td b.total_valor{ font-size:25px;color: #CA1616; font-weight:bold;}
#tabela_faturaTotal tr td b.texto_total{ font-size:16px;color: #333; font-weight:bold;}

#fatura_observacoes{ float:left;  width:420px;  margin-top:20px; height:105px; line-height:18px;}
#fatura_observacoes p{ margin-bottom:8px; color:#555;font: 12px "Lato", Arial, Helvetica, sans-serif;}
#fatura_observacoes b.fatura_obs{ display:block;font: 14px "Roboto", Arial; margin-bottom:8px;font-weight: 600; height:20px;color: #CA1616;padding-left: 0px; padding-top:4px;}

#fatura_pagamentos{ display:block; margin-top:10px; padding:10px;}
.label_pag{background:#f8f8f8; cursor:pointer; float:left; height:61px; width:170px; text-align:center;}
.label_pag img{ margin:5px;}
#fatura_btnPagar{margin-top:20px; float:left; width:100%; text-align:center;  display:block;}
#fatura_btnPagar button{font: 18px "roboto"; font-weight:bold;}

.tit_seleciona_pagamento{font-family: "Roboto", Arial, sans-serif !important;font-size: 14px !important;font-weight: 500 !important;}
.radio_selectPagamento{
	float: left;
	padding: 22px 4px;
	width: 1%;
}

.img_selectPagamento{
	width: 24.6%;
	min-height: 66px;
	padding-left: 9px;
}

.txt_descricaoPagamento{
	font-family: "Lato", Arial, sans-serif;
	font-size: 13px;
	width: 72%;
	min-height: 66px;
}

.txt_descricaoPagamento b{
	font-family: "Roboto", Arial, sans-serif;
	text-transform: none;
	font-size: 14px;
	font-weight: 500;
	display: block;
	margin-bottom:10px
}

.txt_descricaoPagamento img{
	margin: 5px 0;
}

.formaPagamento_active{
	margin-top: 10px !important;
	padding: 11px 5px !important;
	background: #FFF !important;
	border-radius: 5px !important;
	border: 1px solid #363 !important;
}

.formaPagamento{
	margin-top: 10px;
	border: 1px solid #f0f0f0;
	padding: 11px 5px;
	background: #F0F0F0;
}

.loading_gateway {
    margin: 0;
    padding: 0;
    text-align: center;
}

.loading_gateway .txt_descricaoPagamento {
    margin: 0 !important;
    width: 100%;
}

.loading_gateway .txt_descricaoPagamento img {
    display: block;
    margin: 5px auto;
}

.loading_gateway .txt_descricaoPagamento .btn {
    font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
}


.return_gateway {
    margin: 0;
    padding: 0;
    text-align: center;
}

.error_gateway {
    margin: 0;
    padding: 0;
    text-align: center;
}

.error_gateway .txt_erroPagamento {
    margin: 0 !important;
    display: block;
    font-size: 14px;
    width: 734px;
    padding: 2px;
}

.error_gateway .txt_erroPagamento b {
    display: inline-block;
    font-size: 15px;
}

.return_gateway .txt_descricaoPagamento {
    margin: 0 !important;
    width: 100%;
}

.return_gateway .txt_descricaoPagamento img {
    display: block;
    margin: 5px auto;
}

.return_gateway .txt_descricaoPagamento .btn {
    font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
}

.formaPagamento:hover{
	background: #FFF;
	border-radius: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
}