@font-face {
  font-family: "Franklin Gothic Demi Cond";
 src: url(<?=URL_ASSETS?>/fonts/FRADMCN.TTF);
}
@font-face {
  font-family: "Franklin Gothic Medium Cond";
 src: url(<?=URL_ASSETS?>/fonts/FRAMDCN.TTF);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_700.woff) format('woff');
}


#fundo_default{ background:#006782;}

*{ padding:0px; margin:0px; outline:none;}
body{ background:url(http://www.gerentepro.com.br/api/images/content_bg.jpg) repeat-x top #eaedef;}
/* Header */
#header_wrap{
	display:block;
	overflow:hidden;
	height:90px;
}

#header_top{
	margin:0 auto;
	width:780px;
	overflow:auto;
}

.header_logo{
	float:left;
	margin-top:25px;
}

#header_login{
	float:right;
	width:290px;
	height:40px;
	background:#dbdfe2;
	overflow:hidden;
	color:#666;
	font:16px "Franklin Gothic Medium Cond", Arial; text-transform:uppercase; 
}
#header_login .header_phone{ background:url(<?=URL_ASSETS?>/images/phone2.png) left center no-repeat; float:left; padding-left:20px; margin-right:15px; margin-left:10px; margin-top:10px;}
#header_login .header_chat a{ text-decoration:none; color:#666;	font:16px "Franklin Gothic Medium Cond", Arial; text-transform:uppercase;  background:url(<?=URL_ASSETS?>/images/chat3.png) left center no-repeat; float:left; padding-left:20px; margin-right:15px; margin-left:5px; margin-top:10px;}
#header_login .header_chat a:hover{color:#d63232;}

#header_login input[type="text"]{ height:27px; width:200px; padding-left:3px; font:12px Tahoma, Arial; margin:5px 5px 5px 5px; color:#666; border:1px solid #ccc;}
#header_login input[type="password"]{ height:27px; width:140px; padding-left:3px; font:12px Tahoma, Arial; margin:5px 5px 5px 0px; color:#666; border:1px solid #ccc;}
#header_login a{text-decoration:none; color:#333; background:url(<?=URL_ASSETS?>/images/arrow-right.png) left center no-repeat; padding-left:10px;}
#header_login a:hover{color:#d63232;}

/* Footer */
#footer_wrap{
	display:block;
	overflow:hidden;
	height:73px;
}

#footer_bottom{
	margin:0 auto;
	width:780px;
	overflow:hidden;
	height:73px;
}

.poweredby{

}

#footer_bottom label{ overflow:auto; float:left; margin-top:15px;}
#footer_bottom label b{ display:block; margin-bottom:5px; font:11px Arial; color:#666; font-weight:bold;}
#footer_bottom label p{ display:block; margin-top:20px; margin-bottom:2px; font:12px Tahoma, Arial; color:#666;}
#footer_bottom label p font{ medium}

ul#footer_menu{ float:right; display:block; text-align:left; width:500px; margin-top:15px;}
ul#footer_menu li{ float:right; display:inline; margin-left:25px; text-decoration:none;}
ul#footer_menu li a{ text-decoration:none; color:#333; font:16px "Franklin Gothic Demi Cond", Arial; text-transform:uppercase; background:url(<?=URL_ASSETS?>/images/arrow-right.png) left center no-repeat; padding-left:10px;}
ul#footer_menu li a:hover{ color:#d63232;}

/* Content */
#content_wrap{
	/*background:url(<?=URL_ASSETS?>/images/content_bg.jpg) top repeat-x #e9eaeb;*/
	display:block;
	overflow:hidden;
}

.borda5px{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.borda10px{-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#content{ width:740px; margin:5px auto; padding:20px; overflow:auto; background:#fff; border:1px solid #e1e1e1;}
#content h1{ font:34px Helvetica, Arial, sans-serif; color:#999; font-weight:bold; letter-spacing:-2px;}
#content p{font:16px Helvetica, Arial, sans-serif; color:#333; display:block;}

#content2{ width:780px; margin:5px auto; overflow:hidden; background:#fff; /*border:1px solid #e1e1e1;*/}
#content2 h1{ font:34px Helvetica, Arial, sans-serif; color:#999; font-weight:bold; letter-spacing:-2px;}
#content2 p{font:16px Helvetica, Arial, sans-serif; color:#333; display:block;}


#steps{ height:30px; margin-top:10px; padding:15px; width:870px; background:url(<?=URL_ASSETS?>/images/bg_steps.jpg) repeat-x;}
#steps h1{ font:24px "Franklin Gothic Medium Cond", Arial; color:#fff; float:left; text-transform:uppercase; width:190px;}
#steps h1 b{ color:#ef701d; font:24px "Franklin Gothic Demi Cond", Arial; text-transform:uppercase;}

.step{ float:right; text-align:left; color:#fff; font:14px "Open Sans", Arial; font-weight:600; margin-top:5px; text-transform:uppercase; width:160px; height:40px; padding:0 20px; line-height:40px;  border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; background:url(<?=URL_ASSETS?>/images/step_off.png) bottom center no-repeat; border:0px solid #c00;}
.active{color:<?=$cor_default?>;background:#fff;}




.steps_1, .steps_2{ float:left; display:block; overflow:auto; margin-top:20px; width:650px; padding:5px;}
.steps_3, .steps_4{ float:left; display:block; overflow:auto; margin-top:20px; width:960px;}


.titulo_operacao{ font:18px "Open Sans", Arial; font-weight:600; color:#333; display:block; padding-top:15px;}
a.info{ float: right; margin-top:2px; background:url(<?=URL_ASSETS?>/images/icon_info.gif) left no-repeat; text-decoration:none; color:#2c4495; font:12px Arial; font-weight:bold; padding-left:16px;}
a.info:hover{ text-decoration:underline;}

.resumo{ float:right; display:block; overflow:auto; margin-top:20px; width:220px;  padding:5px; border:1px solid #e8e8e8; background:#e8e8e8;}
.resumo h4{ display:block; width:200px; padding:5px 10px; background:#444; color:#fff; font:14px Tahoma, Arial; margin-bottom:10px;}
.label{ font:12px Tahoma, Arial; color:#666; display:block; margin-top:10px;}
.response{ background:#fff; font-size:14px; color:#000; padding:5px;}
.response label{display:block; margin:10px;}
.desc_cor{ color:#093;}
.total{ font-size:18px;}

#planos{ overflow:auto; margin-top:10px; font:13px Tahoma, Arial; padding:2px; background:#f0f0f0;}
#planos th{ text-align:left; padding:10px; background:#d0d0d0; color:#fff; font-weight:bold;  border-left:1px solid #f9f9f9;}
#planos td{ text-align:left; padding:10px; background:#fff; color:#666; border-left:1px solid #f9f9f9;}
#planos label{ font-size:14px;}
#planos span{ float:left; display:block; margin:5px 10px; text-align:center; font-size:12px; color:#777;}
#planos span b{ display:block; font-size:14px; font-weight:normal; color:#000;}
#planos .more { float:left; margin-right:10px; color:#666; font-size:12px;}
#planos .more b{ float:left; font-size:12px; margin-right:5px;}

.sel_plataforma{ padding:5px; margin-top:10px; font:13px Tahoma, Arial; color:#555;}
.plataforma{ width:300px; font:12px "Lucida Sans", Arial; color:#555; border:1px solid #f0f0f0; margin-top:10px; padding:10px;}
.plataforma label{ font-size:14px; color:#000; display:block; margin-bottom:5px;}
.plataforma img{ float:left; margin-right:10px;}
.plataforma ul{ margin-top:10px; font-size:11px; margin-left:90px;}

.left{ float:left;}
.right{ float:right;}

#registro{ overflow:auto; margin-top:10px; font:13px 'Open Sans', sans-serif, Arial;}
#registro td{ padding:10px; background:#fff; color:#666; border-left:1px solid #f9f9f9;}
#registro label{ font-size:16px; color:#000;}
#registro span{ display:block; font-size:12px; color:#777;}

.titulo_registro{ display:block; overflow:auto; font:18px "Trebuchet MS", Tahoma, Arial; color:#444; padding:10px;}
.titulo_registro span{ font:11px "Lucida Sans", Arial; color:#666;}
.titulo_registro b{ display:block; font:16px "Franklin Gothic Medium Cond", Tahoma, Arial; text-transform:uppercase; font-weight:normal; color:#333;}


.box_input_cadastro{border:2px solid #d0d0d0; background:#fff; color:#999; display:block; padding:5px; float:left; margin-top:5px;}
.label{font:14px Tahoma, Arial; color:#666; }
.label_cadastro{ font:16px Tahoma, Arial; color:#666; float:left; margin:10px 0 5px 0;}
.label_form{ font:12px "Lucida Sans", Arial; color:#666; margin-right:10px;}
.label_form p{ float:left; display:block; width:100%; font:12px "Lucida Sans", Arial; color:#666; margin-top:10px;}
.label_form p b{ display:inline; font-weight:bold;}
.label_cadastro b{ display:inline; font-weight:bold;}

.line{ float:left; width:100%;}
.line p{ font-size:11px; color:#999; display:inline;}
.box_input_cadastro input[type=text]{ border:0px; font:14px Tahoma, Arial; color:#000;}
.box_input_cadastro input[type=password]{ border:0px; font:14px Tahoma, Arial; color:#000;}

.box_input_form{ border:1px solid #d0d0d0; margin-top:5px; margin-right:5px; font:12px Tahoma, Arial; padding:5px; color:#333;}
.box_input_form:focus{ border:1px solid #c00;}

.box_select_form{ border:1px solid #d0d0d0; margin-top:5px; margin-right:5px; font:12px Tahoma, Arial; height:27px; color:#333;}
.box_select_form:focus{ border:1px solid #c00;}

.box_input_registro{border:2px solid #d0d0d0; background:#fff; font:27px Arial, sans-serif; color:#999; display:block; padding-left:5px; float:left; margin-top:10px; margin-bottom:10px;}

.box_input_registro input[type=text]{ border:0px; font:27px Arial, sans-serif; width:350px; padding:5px; color:#000;}
.box_input_registro select{ border:0px; font:27px Arial, sans-serif; color:#000; height:44px;}

.form_submit{ float:left; padding:6px 10px; cursor:pointer; background:url(<?=URL_ASSETS?>/images/bg_btn.jpg) repeat-x #e87f04; color:#fff; font:12px Tahoma, Arial; font-weight:bold; border:1px solid #d25c0e;}
.form_submit:hover{ background:#d25c0e;}
.form_submit_esqueci{ float:left; padding:4px; cursor:pointer; background:url(<?=URL_ASSETS?>/images/bg_btao_esqueci.gif) repeat-x; color:#444; font:12px Tahoma, Arial; border:1px solid #d0d0d0; margin-left:10px; margin-top:10px; padding:5px 15px;}
.form_submit_esqueci:hover{ background:#cecece;}

a.finalizar_submit{ float:right; padding:5px 30px 5px 8px; border:1px solid #666; text-decoration:none; cursor:pointer; background:url(<?=URL_ASSETS?>/images/bt_prosseguir.png) right repeat-x; color:#fff; font:14px "Franklin Gothic Medium Cond", Tahoma, Arial; text-transform:uppercase; margin-top:10px; margin-bottom:10px;}
a.finalizar_submit:hover{ background:url(<?=URL_ASSETS?>/images/bt_prosseguir_hover.png) right repeat-x;}

a.continuar_submit{ float:right; padding:5px 30px 5px 8px; border:1px solid #666; text-decoration:none; cursor:pointer; background:url(<?=URL_ASSETS?>/images/bt_prosseguir.png) right repeat-x; color:#fff; font:14px "Franklin Gothic Medium Cond", Tahoma, Arial; text-transform:uppercase; margin-top:10px; margin-bottom:10px;}
a.continuar_submit:hover{ background:url(<?=URL_ASSETS?>/images/bt_prosseguir_hover.png) right repeat-x;}

a.voltar_submit{ float:right; padding:8px 8px 5px 8px;text-decoration:none; cursor:pointer; color:#666; font:11px Tahoma, Arial; margin-top:10px;}
a.voltar_submit:hover{ text-decoration:underline;}

.registro_txt_resposta{padding:5px; margin-left:15px; overflow:auto; float:left; font:12px Tahoma, Arial;}
.disponivel{ color:#093; padding-left:20px; background:url(<?=URL_ASSETS?>/images/ico_yes2.png) left no-repeat;}
.indisponivel{ color:#c00; padding-left:20px; background:url(<?=URL_ASSETS?>/images/ico_delete4.png) left no-repeat;}

#fisica{ display: none;}
#juridica{ display: none;}

.error{ font:12px Tahoma, Arial, Helvetica, sans-serif; background:#c00;}

#registro td.select_pgto{ background:url(<?=URL_ASSETS?>/images/bgSelectPgto_off.gif) no-repeat; height:73px; width:35px; text-align:right; padding:0px;}
#registro td.select_pgto input[type="radio"]{ float:right; margin-left:5px; margin-right:5px;}

#registro td.selected_pgto{background:url(<?=URL_ASSETS?>/images/bgSelectPgto_on.gif) no-repeat; height:73px; width:35px; text-align:right; padding:0px;}
#registro td.selected_pgto input[type="radio"]{ float:right; margin-left:5px; margin-right:5px;}

label.lab_pagto{ background:#e6e6e6; cursor:pointer; float:left; height:61px; width:150px;  text-align:center;}
label.lab_pagto p{ margin:5px;}
#registro td.instr_pgto p{font:11px Tahoma, Arial, Helvetica, sans-serif; color: #888; margin-bottom:5px;}

.subtitulo{font:16px "Franklin Gothic Medium Cond", Tahoma, Arial; text-transform:uppercase; margin-top:10px;}