@font-face {
  font-family: "Franklin Gothic Demi Cond";
 src: url(<?=URL_ASSETS?>/fonts/FRADMCN.TTF);
}
@font-face {
  font-family: "Franklin Gothic Medium Cond";
 src: url(<?=URL_ASSETS?>/fonts/FRAMDCN.TTF);
}

@font-face{
	font-family: Walsheim-Medium;
	src:url(https://img1.wsimg.com/ux/fonts/1.2/eot/w7.eot?#iefix) format('embedded-opentype'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff2/w7.woff2) format('woff2'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff/w7.woff) format('woff'),
	url(https://img1.wsimg.com/ux/fonts/1.2/ttf/w7.ttf) format('truetype');f
	ont-weight:400;
	font-style:normal
}

@font-face{
	font-family:Walsheim-Bold;
	src:url(https://img1.wsimg.com/ux/fonts/1.2/eot/w7.eot?#iefix) format('embedded-opentype'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff2/w7.woff2) format('woff2'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff/w7.woff) format('woff'),
	url(https://img1.wsimg.com/ux/fonts/1.2/ttf/w7.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:Walsheim-Black;
	src:url(https://img1.wsimg.com/ux/fonts/1.2/eot/w8.eot?#iefix) format('embedded-opentype'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff2/w8.woff2) format('woff2'),
	url(https://img1.wsimg.com/ux/fonts/1.2/woff/w8.woff) format('woff'),
	url(https://img1.wsimg.com/ux/fonts/1.2/ttf/w8.ttf) format('truetype');
	font-weight:400;
	font-style:normal
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(<?=URL_ASSETS?>/fonts/OpenSans/OpenSans_700.woff) format('woff');
}

.bandeira_americanexpress{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -113px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.bandeira_visa{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -2px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.bandeira_mastercard{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -58px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.bandeira_diners{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -168px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.bandeira_elo{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -224px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.bandeira_discover{
	background: url(<?=URL_ASSETS?>/img/sprite-pagamento.png) -282px -42px;
  width: 55px;
  height: 45px;
  border: 0px !important;
}

.OpenSans{ font-family:"Open Sans", Arial, sans-serif !important;}
.RobotoRegular{ font-family:"Roboto-Regular", Arial, sans-serif !important;}
.TableInterna_left{ border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom:1px solid #eee; font-size: 14px; padding:8px; padding-right:10px; text-align:right;}
.TableInterna_left b{font-weight:500; color:#7b7677;}
.TableInterna_right{ padding:8px; border-top: 1px solid #eee; border-bottom:1px solid #eee;}

/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, address, cite, code, del, em, img, s, small, strike, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, output, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Lato", sans-serif;
}
body {
	line-height: 1;
	overflow-x: hidden
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
canvas {
	-ms-touch-action: double-tap-zoom
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
audio, canvas, video {
	display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display: none
}
[hidden] {
display:none
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
html, button, input, select, textarea {
	font-family: "Lato", sans-serif;
	color: #222
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4
}

a {
	color: #0977AD
}

a:hover {
	color: #222
}
a:hover, a:active {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-family: "Roboto", Arial, sans-serif;
	font-weight:600;
}

.borda5px{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.borda10px_left{-moz-top-left-radius: 10px; -webkit-top-left-radius: 10px; border-top-left-radius: 10px;
-moz-bottom-left-radius: 10px; -webkit-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
}
.borda10px_right{-moz-top-right-radius: 10px; -webkit-top-right-radius: 10px; border-top-right-radius: 10px;
-moz-bottom-right-radius: 10px; -webkit-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
}

.cadConta_inputs{font-size: 13px !important; padding: 3px 4px;}
.cadConta_labels{font-size: 13px !important;}

.central_subtit {
height: 30px;
display: block;
padding-top: 10px;
font: 16px "Roboto", sans-serif !important;
letter-spacing: 0px;
color: #aaa;
}

.thumb_profile{width: 30px;
height: 30px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;}

#mainframe	#aviso_cad { float:right; height:70px; margin:10px 5px 10px 0; background:#f4f4f4; width:220px; padding: 10px 15px 10px 15px;}
#mainframe	#aviso_cad p { float:left; font: 11px Arial, Helvetica, sans-serif; color:#666; }
#mainframe	#aviso_cad p i {float:left; margin: 0;}
#mainframe	#aviso_cad p b { float:left; margin: 10px 10px 0;  font: 14px "Open Sans", Arial, Helvetica, sans-serif; font-weight:600; }

#detalhes_cad .label_cad_tel p{border: 1px #F00 solid; color:#666; font: 13px "Open Sans", Arial, Helvetica, sans-serif; }
#detalhes_cad .label_cad_tel input{ font-family:"Open Sans", Arial, Helvetica, sans-serif; font-size:14px;}
#detalhes_cad .label_cad_tel p .input_sem_espaço{ float:left; margin-bottom:0px;}
#detalhes_cad .label_cad_tel .buttonCEP{ font-size:13px; font-family:"Open Sans", Arial, Helvetica, sans-serif; font-weight:bold;}


#menu_wrap{
	min-height: 100%; /* Mindesthöhe für moderne Browser */
    height:100%; /* Mindesthöhe für den IE */ 

	display:block;
    border:1px solid blue;
}

.listSAC{display:block; margin-bottom:10px; color:#666;}
.listSAC a{ color:#666 !important;}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
small {
	font-size: 85%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle
}
svg:not(:root) {
	overflow: hidden
}
form {
	margin: 0
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0
}
label {
	cursor: pointer
}
legend {
	border: 0;
*margin-left:-7px;
	padding: 0;
	white-space: normal;
	display: none
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: top;
*vertical-align:middle
}
button, input {
	line-height: normal
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
*overflow:visible
}
button[disabled], input[disabled] {
	cursor: default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
*width:13px;
*height:13px
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td {
	vertical-align: top
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0
}
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
*line-height:0
}
.ir br {
	display: none
}
.hidden {
	display: none !important;
	visibility: hidden
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}
.invisible {
	visibility: hidden
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.clearfix {
*zoom:1
}
@media print {
* {
	background: transparent !important;
	color: black !important;
	box-shadow: none !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100% !important
}
@page {
margin:0.5cm
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
}
body {
	min-width: 960px
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	display: inline;
	float: left;
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
.verde{
color: #090;
}
.vermelho{
color: #c00;
}

.laranja{
color: #f89406;
}
.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4, .push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8, .push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12 {
	position: relative
}
.container .grid-1 {
	width: 60px
}
.container .grid-2 {
	width: 140px
}
.container .grid-3 {
	width: 220px
}
.container .grid-4 {
	width: 254px
}
.container .grid-5 {
	width: 380px
}
.container .grid-6 {
	width: 440px
}
.container .grid-7 {
	width: 540px
}
.container .grid-8 {
	width: 660px
}
.container .grid-9 {
	width: 710px
}
.container .grid-10 {
	width: 780px
}
.container .grid-11 {
	width: 860px
}
.container .grid-12 {
	width: 950px
}
.alpha {
	margin-left: 0
}
.omega {
	margin-right: 0
}
.container .prefix-0 {
	padding-left: 30px
}
.container .prefix-1 {
	padding-left: 80px
}
.container .prefix-2 {
	padding-left: 160px
}
.container .prefix-3 {
	padding-left: 240px
}
.container .prefix-4 {
	padding-left: 320px
}
.container .prefix-5 {
	padding-left: 400px
}
.container .prefix-6 {
	padding-left: 480px
}
.container .prefix-7 {
	padding-left: 560px
}
.container .prefix-8 {
	padding-left: 640px
}
.container .prefix-9 {
	padding-left: 720px
}
.container .prefix-10 {
	padding-left: 800px
}
.container .prefix-11 {
	padding-left: 880px
}
.container .suffix-1 {
	padding-right: 80px
}
.container .suffix-2 {
	padding-right: 160px
}
.container .suffix-3 {
	padding-right: 240px
}
.container .suffix-4 {
	padding-right: 320px
}
.container .suffix-5 {
	padding-right: 400px
}
.container .suffix-6 {
	padding-right: 480px
}
.container .suffix-7 {
	padding-right: 560px
}
.container .suffix-8 {
	padding-right: 640px
}
.container .suffix-9 {
	padding-right: 720px
}
.container .suffix-10 {
	padding-right: 800px
}
.container .suffix-11 {
	padding-right: 880px
}
.container .push-1 {
	left: 80px
}
.container .push-2 {
	left: 160px
}
.container .push-3 {
	left: 240px
}
.container .push-4 {
	left: 320px
}
.container .push-5 {
	left: 400px
}
.container .push-6 {
	left: 480px
}
.container .push-7 {
	left: 560px
}
.container .push-8 {
	left: 640px
}
.container .push-9 {
	left: 720px
}
.container .push-10 {
	left: 800px
}
.container .push-11 {
	left: 880px
}
.container .pull-1 {
	left: -80px
}
.container .pull-2 {
	left: -160px
}
.container .pull-3 {
	left: -240px
}
.container .pull-4 {
	left: -320px
}
.container .pull-5 {
	left: -400px
}
.container .pull-6 {
	left: -480px
}
.container .pull-7 {
	left: -560px
}
.container .pull-8 {
	left: -640px
}
.container .pull-9 {
	left: -720px
}
.container .pull-10 {
	left: -800px
}
.container .pull-11 {
	left: -880px
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:before, .clearfix:after, .container-12:before, .container-12:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0
}
.clearfix:after, .container-12:after {
	clear: both
}
.clearfix, .container-12 {
	zoom: 1
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Regular-webfont.eot ");
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("<?=URL_ASSETS?>/fonts/Roboto-Regular-webfont.woff") format("woff"), url("<?=URL_ASSETS?>/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("<?=URL_ASSETS?>/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Bold-webfont.eot");
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("<?=URL_ASSETS?>/fonts/Roboto-Bold-webfont.woff") format("woff"), url("<?=URL_ASSETS?>/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("<?=URL_ASSETS?>/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Condensed';
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Condensed-webfont.eot");
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Condensed-webfont.eot?#iefix") format("embedded-opentype"), url("<?=URL_ASSETS?>/fonts/Roboto-Condensed-webfont.woff") format("woff"), url("<?=URL_ASSETS?>/fonts/Roboto-Condensed-webfont.ttf") format("truetype"), url("<?=URL_ASSETS?>/fonts/Roboto-Condensed-webfont.svg#RobotoCondensed") format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Light';
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Light-webfont.eot");
	src: url("<?=URL_ASSETS?>/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("<?=URL_ASSETS?>/fonts/Roboto-Light-webfont.woff") format("woff"), url("<?=URL_ASSETS?>/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("<?=URL_ASSETS?>/fonts/Roboto-Light-webfont.svg#RobotoCondensed") format("svg");
	font-weight: normal;
	font-style: normal
}
.line {
	clear: both;
	Float: left;
	width: 100%
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	display: inline;
	float: left;
	margin-right: 10px
}

#gpro_wrap{ width:980px; margin:5px auto; background:#f8f8f8; }
#powered_by{width:980px; margin:5px auto; background:none; border:0px; text-align:center; font:13px 'Lato', 'Lucida Grande', sans-serif; color:#666;}
#gpro_wrap_login{ width:380px; margin:5px auto; background:#f8f8f8; border:1px solid #ddd; padding:10px;}
#gpro_wrap_install{ width:450px; margin:5px auto; background:#f8f8f8; border:1px solid #ddd; padding:10px;}

.input_login_user{content: "\e04c"; color: #333; padding-left:30px; background:#ccc;}
/* Textos */
.mar-10 {
	margin-bottom: 10px !important
}
.mar-20 {
	margin-bottom: 20px !important
}
.mar-30 {
	margin-bottom: 30px !important
}
.mar-40 {
	margin-bottom: 40px !important
}
.mar-50 {
	margin-bottom: 50px !important
}
.mar-60 {
	margin-bottom: 60px !important
}
.mar-70 {
	margin-bottom: 70px !important
}
.mar-80 {
	margin-bottom: 80px !important
}
.mar-100 {
	margin-bottom: 100px !important
}
.mar-120 {
	margin-bottom: 120px !important
}
.mar-150 {
	margin-bottom: 150px !important
}
.mar-sup-10 {
	margin-top: 10px !important
}
.mar-sup-20 {
	margin-top: 20px !important
}
.mar-sup-30 {
	margin-top: 30px !important
}
.mar-sup-40 {
	margin-top: 40px !important
}
.mar-sup-50 {
	margin-top: 50px !important
}
.mar-sup-100 {
	margin-top: 100px !important
}
.mar-l-5 {
	margin-left: 5px !important
}
.mar-l-10 {
	margin-left: 10px !important
}
.mar-r-55 {
	margin-right: 55px !important
}
.center {
	text-align: center
}
.align-center {
	margin: auto
}
.upper {
	text-transform: uppercase
}
.capitalize {
	text-transform: capitalize
}
.title {
	color: #393939;
	font-family: "Roboto", Arial, sans-serif;
	/*letter-spacing: -1px;*/
	font-weight: 400;
	line-height: 100%
}
.title-h1 {
	font-size: 25px;
	color: #333
}
.title-h3 {
	font-size: 18px
}
.title-desc{
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	color:#666666;
}
.divisor {
	border-bottom: 1px solid #DDDDDD;
	clear: both;
	display: block;
	margin: 10px 0 0 0;
	position: relative;
	width: 100%
}
.divisor span {
	background-color: #DDDDDD;
	height: 3px;
	left: 0;
	position: absolute;
	top: -1px;
	width: 40px
}
.divisor-a span {
	background-color: #000
}
.divisor-b span {
	background-color: #4A3979
}
.divisor-c span {
	background-color: #393939
}
.divisor-success span {
	background-color: #A9D03F
}
.divisor-error span {
	background-color: #BE4948
}
.divisor-info span {
	background-color: #CCCCCC
}

.form-horizontal {
clear: both;
float: left;
padding: 10px 0;
width: 100%;
}
.form-horizontal .label {
color: #3A3A3B;
float: left;
margin: 5px 0 0 0;
}
label {
cursor: pointer;
}
.input-text.type-a {
	width: 120px
}
.input-text.type-b {
	border-color: #CCC;
	float: left;
	height: 22px;
	width: 300px
}
.input-text, .textarea {
	border: 1px solid #CCC;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	-webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	font-family: "Lato", "Roboto", Arial, sans-serif;
}
.input-text, .select, .textarea {
color: #666;
display: inline-block;
font-size: 14px;
height: 20px;
line-height: 20px;
padding: 4px 6px;
vertical-align: middle;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
font-size: 13px;
color: #555555;
margin: 0;
vertical-align: top;
}
html, button, input, select, textarea {
font-family: "Lato", Arial, sans-serif;
color: #222;
}
* {
padding: 0;
margin: 0;
}
/*
input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
*/
input, textarea, keygen, select, button, isindex {
margin: 0em;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
input, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}

.form-horizontal .label {
color: #3A3A3B;
}
label {
cursor: pointer;
}

.form-horizontal .link-a {
	color: #666;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 12px;
	margin-left: 8px;
	text-decoration:none;
}
.form-horizontal .link-a:hover{ text-decoration:underline; color:#000;}
input-text, .select, .textarea {
	color: #666;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 4px 6px;
	vertical-align: middle
}
.input-text, .textarea {
	border: 1px solid #CCC;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	-webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	-o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s
}
.input-text.tam-a, .textarea.tam-a {
	width: 366px
}
.input-text.tam-ab, .textarea.tam-ab {
	width: 290px
}
.input-text.tam-b, .textarea.tam-b {
	width: 220px
}
.input-text.tam-c, .textarea.tam-c {
	width: 140px
}
.input-text.tam-d, .textarea.tam-d {
	width: 60px
}
.select.tam-a {
	width: 380px
}
.select.tam-b {
	width: 234px
}
.select.tam-c {
	width: 154px
}
.select.tam-d {
	width: 74px
}
.textarea.tam-a {
	width: 370px;
	height: 200px;
	padding: 6px 4px
}
.input-text:focus, .textarea:focus, .select:focus {
	border-color: #4A3979;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(74,57,121,0.15);
	outline: none
}
.control-form.side {
	float: left
}
.side-slash {
	float: left;
	padding: 2px 4px 0 4px
}
.form-feedback {
	clear: both;
	display: block;
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 1.2;
	padding-top: 2px;
	display: none
}
.success .input-text, .success .select, .success .textarea, .success .radio, .success .check {
	border-color: #A5C356 !important;
	box-shadow: 0 0 3px #CCCCCC inset
}
.success .form-feedback {
	color: #A5C356
}
.error .input-text, .error .select, .error .textarea, .error .radio, .error .check {
	border-color: #B45F5E !important;
	box-shadow: 0 0 3px #CCCCCC inset
}

.error .form-feedback {
	color: #B45F5E
}
.info .input-text, .info .select, .info .textarea, .info .radio, .info .check {
	border-color: #BE9958 !important;
	box-shadow: 0 0 3px #CCCCCC inset
}
.info .form-feedback {
	color: #BE9958
}
.input-text.success, .select.success, .textarea.success, .radio.success, .check.success {
	border-color: #A5C356 !important;
	box-shadow: 0 0 3px #CCCCCC inset
}
.input-text.error, .select.error, .textarea.error, .radio.error, .check.error {
	border-color: #B45F5E !important;
	box-shadow: 0 0 3px #CCCCCC inset
}
.input-text.info, .select.info, .textarea.info, .radio.info, .check.info {
	border-color: #BE9958 !important;
	box-shadow: 0 0 3px #CCCCCC inset
}
.select {
	border: 1px solid #CCCCCC;
	padding: 4px 2px 4px 4px;
	height: 32px;
	width: 100px
}
.select .type-a {
	width: 90px
}
.radio, .check {
	float: left;
	margin: 4px 5px 0 0
}
.text {
	margin-bottom: 20px;
	color: #999;
	font-size: 14px;
	line-height: 130%
}
.text :last-of-type {
	margin-bottom: 0px
}
.text span {
	color: #999;
	font-size: 14px;
	line-height: 130%
}
.text a {
	font-family: roboto-regular;
	color: #000;
	font-size: inherit
}
.text strong {
	font-family: "Roboto-Bold";
	font-weight: 300
}
.text-a {
	color: #FFBF00;
	font-family: "Roboto-Bold";
	font-size: 30px;
	line-height: 100%
}
.text-b {
	color: #333;
	font-size: 18px
}
.text-c {
	color: #333
}
.text-d {
	color: #999;
	font-size: 14px
}

.text-dd {
	color: #666;
	font-size: 13px;
	margin-bottom:8px;
}

img.icone_servico{
	width: 50px;
	height: 50px;
}

.resumoCarrinho{
	margin: 0;
    border: 2px solid #393939;
    float: right;
    border-radius: 4px;
    width: 300px !important;
}

.resumoCarrinho .titulo{
	background: #393939;
    color: #fff;
    padding: 5px 10px;
    font-family: "Roboto-Light", Arial, sans-serif;
    text-align: center;
}

.resumoCarrinho .linha{
	overflow: auto;
    border-bottom: 1px dotted #C1C1C1;
}

.resumoCarrinho .linha .descricao{
	    /* border: 1px solid; */
    float: left;
    width: 205px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 5px;
}

.resumoCarrinho .linha .total{
	    /* border: 1px solid; */
    /* margin-right: 4px; */
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 240px;
    float: right;
    text-align: right;
    padding-top: 0px;
    line-height: 22px;
}

.resumoCarrinho .linha .total b{
	/padding: 5px; */
    text-align: right;
    width: 240px;
    float: right;
    font-family: Walsheim-Bold, "Montserrat", Arial, sans-serif !important;
    font-weight: bold;
    font-size: 27px;
    margin-top: 10px;
}

.resumoCarrinho .linha .preco{
	/*border: 1px solid; */
    /* margin-right: 4px; */
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 74px;
    float: right;
}

.resumoCarrinho .total{

}

a.removeCarrinho{
	font-size: 13px;
    font-family: "Roboto-Regular";
    color: #c00;
}

.planoEscolhido h1{
	margin: 0px;
	font-family: "Montserrat", Arial, sans-serif !important;
	font-size: 18px;
	font-weight: 400;

}

.planoEscolhido h1 b{
	margin: 0px;
	font-family: Walsheim-Bold, "Montserrat", Arial, sans-serif !important;
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
}

.text-dd b{ color:#333;}

.text-ddd {
	color: #999;
	font-size: 15px;
	font-family:"Open Sans", sans-serif !important;

}

.text-ddd b{ color:#333;
font-family: "Open Sans";
font-weight: 600;}

.text-d .green {
	color: #90AB2B
}
.text-e {
	color: #999;
	font-size: 12px
}
.text-card {
	font-size: 11px;
	margin: 0;
	line-height: 140%
}
.text-card strong {
	font-size: 16px;
	line-height: 140%
}
.text-card .strong-b {
	font-size: 11px
}
.text-card-b {
	color: #666666;
	font-size: 13px;
	width: 160px;
	float: left;
	line-height: 140%;
	margin: 0
}


#fundo_default{ background:#006782;}

*{ padding:0px; margin:0px; outline:none;}
body{ background:url(<?=URL_ASSETS?>/images/content_bg.jpg) repeat-x top #eaedef;}
/* Header */

.btn-new {
	background-color: #999999;
	border: 1px solid #666666;
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.6);
	cursor: pointer;
	display: inline-block;
	font-family: "Roboto-Bold";
	font-size: 16px;
	text-transform: uppercase
}
.btn-new.type-payment {
	background: #352761 url("<?=URL_ASSETS?>/img/bt-imprimir-boleto.png") 18px 13px no-repeat;
	background-repeat: no-repeat;
	border: 1px solid #1F1736;
	height: 40px;
	line-height: 40px;
	padding: 0 18px 0 60px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff
}
.btn-new.type-payment:hover {
	color: #fff
}
.btn-new.type-one {
	font-size: 16px;
	padding: 13px 30px 0 30px;
	height: 35px
}
.btn-new.type-two {
	font-size: 15px;
	padding: 9px 20px 0 20px;
	height: 29px
}
.btn-new.type-three {
	font-family: "Roboto-Regular";
	font-size: 13px;
	padding: 4px 10px 0 10px;
	height: 22px
}
.btn-new.type-cart {
	cursor: pointer;
	font-size: 16px;
	height: 43px;
	width: 290px;
	text-align: center;
	outline: none
}
.btn-new.type-special {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 120%;
	color: #FFF;
	text-shadow: 0px -1px 0px #c38e01;
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#ffc38e01,Positive=true)";
	zoom: 1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#ffc38e01, Positive=true);
	padding: 18px 30px;
	cursor: pointer;
	border-top: 1px solid white;
	background-image: -moz-linear-gradient(#ffbf00 0%, #fdae00 100%);
	background-image: -webkit-gradient(linear, color-stop(0, #ffbf00), color-stop(1, #fdae00));
	background-image: -webkit-linear-gradient(#ffbf00 0%, #fdae00 100%);
	background-image: -o-linear-gradient(#ffbf00 0%, #fdae00 100%);
	background-image: -ms-linear-gradient(#ffbf00 0%, #fdae00 100%);
	background-image: linear-gradient(#ffbf00 0%, #fdae00 100%);
	border-color: #f0a301;
	border-width: 1px;
	border-style: solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc01,endColorstr=#fff4ae01)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc01, endColorstr=#fff4ae01);
	box-shadow: inset 0px 1px 0px 0px #FFDE97
}
.btn-new.type-special:hover {
	text-decoration: none;
	color: #FFF;
	background-image: -moz-linear-gradient(#fdae00 0%, #ffbf00 100%);
	background-image: -webkit-gradient(linear, color-stop(0, #fdae00), color-stop(1, #ffbf00));
	background-image: -webkit-linear-gradient(#fdae00 0%, #ffbf00 100%);
	background-image: -o-linear-gradient(#fdae00 0%, #ffbf00 100%);
	background-image: -ms-linear-gradient(#fdae00 0%, #ffbf00 100%);
	background-image: linear-gradient(#fdae00 0%, #ffbf00 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2f244c,endColorstr=#ff4a397a)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2f244c, endColorstr=#ff4a397a);
	box-shadow: inset 0px 1px 0px 0px #FFDE97
}
.btn-new:hover {
	text-decoration: none !important
}
.btn-new.green {
	border-color: #76942a;
	color: #FFFFFF !important;
	text-shadow: 0px -1px 0px #76942a;
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#ff76942a,Positive=true)";
	zoom: 1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#ff76942a, Positive=true);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d03e), to(#739029));
	background-image: -webkit-linear-gradient(#a8d03e 0%, #739029 100%);
	background-image: -moz-linear-gradient(#a8d03e 0%, #739029 100%);
	background-image: -o-linear-gradient(#a8d03e 0%, #739029 100%);
	background-image: linear-gradient(#a8d03e 0%, #739029 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e,endColorstr=#ff739029)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e, endColorstr=#ff739029)
}
.btn-new.green:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#739029), to(#a8d03e));
	background-image: -webkit-linear-gradient(#739029 0%, #a8d03e 100%);
	background-image: -moz-linear-gradient(#739029 0%, #a8d03e 100%);
	background-image: -o-linear-gradient(#739029 0%, #a8d03e 100%);
	background-image: linear-gradient(#739029 0%, #a8d03e 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff739029,endColorstr=#ffa8d03e)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff739029, endColorstr=#ffa8d03e)
}
.btn-new.red {
	border-color: #B82E00;
	color: #FFFFFF !important;
	text-shadow: 0px -1px 0px #B82E00;
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#ff76942a,Positive=true)";
	zoom: 1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#ff76942a, Positive=true);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#972600), to(#d93600));
	background-image: -webkit-linear-gradient(#972600 0%, #d93600 100%);
	background-image: -moz-linear-gradient(#972600 0%, #d93600 100%);
	background-image: -o-linear-gradient(#972600 0%, #d93600 100%);
	background-image: linear-gradient(#972600 0%, #d93600 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e,endColorstr=#ff739029)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e, endColorstr=#ff739029)
}
.btn-new.red:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d93600), to(#972600));
	background-image: -webkit-linear-gradient(#d93600 0%, #972600 100%);
	background-image: -moz-linear-gradient(#d93600 0%, #972600 100%);
	background-image: -o-linear-gradient(#d93600 0%, #972600 100%);
	background-image: linear-gradient(#d93600 0%, #972600 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff739029,endColorstr=#ffa8d03e)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff739029, endColorstr=#ffa8d03e)
}
.btn-new.yellow {
	border-color: #f0a301;
	color: #4C4119;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc01), to(#f4ae01));
	background-image: -webkit-linear-gradient(#ffcc01 0%, #f4ae01 100%);
	background-image: -moz-linear-gradient(#ffcc01 0%, #f4ae01 100%);
	background-image: -o-linear-gradient(#ffcc01 0%, #f4ae01 100%);
	background-image: linear-gradient(#ffcc01 0%, #f4ae01 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc01,endColorstr=#fff4ae01)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffcc01, endColorstr=#fff4ae01)
}
.btn-new.yellow:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4ae01), to(#ffcc01));
	background-image: -webkit-linear-gradient(#f4ae01 0%, #ffcc01 100%);
	background-image: -moz-linear-gradient(#f4ae01 0%, #ffcc01 100%);
	background-image: -o-linear-gradient(#f4ae01 0%, #ffcc01 100%);
	background-image: linear-gradient(#f4ae01 0%, #ffcc01 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e,endColorstr=#ffffcc01)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa8d03e, endColorstr=#ffffcc01)
}
.btn-new.black {
	border-color: #222;
	color: #FFFFFF;
	text-shadow: 0px -1px 0px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#ff222222,Positive=true)";
	zoom: 1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#ff222222, Positive=true);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#000));
	background-image: -webkit-linear-gradient(#333 0%, #000 100%);
	background-image: -moz-linear-gradient(#333 0%, #000 100%);
	background-image: -o-linear-gradient(#333 0%, #000 100%);
	background-image: linear-gradient(#333 0%, #000 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333, endColorstr=#ff000000)
}
.btn-new.black:hover {
	color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#333));
	background-image: -webkit-linear-gradient(#000 0%, #333 100%);
	background-image: -moz-linear-gradient(#000 0%, #333 100%);
	background-image: -o-linear-gradient(#000 0%, #333 100%);
	background-image: linear-gradient(#000 0%, #333 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333, endColorstr=#ff000000)
}
.btn-new.purple {
	border-color: #222;
	color: #FFFFFF;
	text-shadow: 0px -1px 0px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#ff222222,Positive=true)";
	zoom: 1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#ff222222, Positive=true);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4a397a), to(#30254e));
	background-image: -webkit-linear-gradient(#4a397a 0%, #30254e 100%);
	background-image: -moz-linear-gradient(#4a397a 0%, #30254e 100%);
	background-image: -o-linear-gradient(#4a397a 0%, #30254e 100%);
	background-image: linear-gradient(#4a397a 0%, #30254e 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4a397a,endColorstr=#ff30254e)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4a397a, endColorstr=#ff30254e)
}
.btn-new.purple:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30254e), to(#4a397a));
	background-image: -webkit-linear-gradient(#30254e 0%, #4a397a 100%);
	background-image: -moz-linear-gradient(#30254e 0%, #4a397a 100%);
	background-image: -o-linear-gradient(#30254e 0%, #4a397a 100%);
	background-image: linear-gradient(#30254e 0%, #4a397a 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4a397a,endColorstr=#ff30254e)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4a397a, endColorstr=#ff30254e)
}
.btn-new.center {
	display: block !important;
	margin: auto !important
}
button.btn-new, input[type="button"].btn-new, input[type="submit"].btn-new {
	padding-top: 0 !important
}
button.btn-new.type-one, input[type="button"].btn-new.type-one, input[type="submit"].btn-new.type-one {
	height: 50px
}
button.btn-new.type-two, input[type="button"].btn-new.type-two, input[type="submit"].btn-new.type-two {
	height: 40px
}
button.btn-new.type-three, input[type="button"].btn-new.type-three, input[type="submit"].btn-new.type-three {
	height: 28px
}

.form-group{ float:left; overflow:auto; margin:0 10px; font-size:14px; line-height: 26px;}

.label_cadastro{ font:16px Tahoma, Arial; color:#666; float:left; margin:10px 0 5px 0;}
.label_form{ font:12px Tahoma, Arial; color:#666; margin-right:10px;}
.label_form p{ float:left; display:block; width:100%; font:12px Tahoma, Arial; color:#666;}
.label_form p b{ display:inline; font-weight:bold;}
.label_cadastro b{ display:inline; font-weight:bold;}

a.menu_central{ float:right; text-align:left; color:#fff; font:15px "Lato", Arial, Helvetica, sans-serif; text-decoration:none; margin-top:2px; width:200px; height:37px; padding:0 5px; line-height:37px;  border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border:0px solid #c00; background: url(<?=URL_ASSETS?>/images/step_off.png) bottom center no-repeat;
}

.menu_central{ float:right; text-align:left; color:#fff; font:16px "Ubuntu", Arial, Helvetica, sans-serif; text-decoration:none; margin-top:2px; width:180px; height:37px; padding:0 15px; line-height:37px;  border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border:0px solid #c00; background: url(<?=URL_ASSETS?>/images/step_off.png) bottom center no-repeat;
}


a.menu_central:hover{ color:#fff; background:url(<?=URL_ASSETS?>/images/_transparente.png);}

.active{color:#<?=$cor_default?>; background:#fff;}
a.active{color:#<?=$cor_default?>;background:#fff;}
a.active:hover{ color:#<?=$cor_default?>; background:#fff;}

div.ico_home{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) -30px 0 no-repeat;}
div.ico_home_active{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) 0 0 no-repeat, #<?=$cor_default?>;}

div.ico_cart{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) -30px -33px no-repeat;}
div.ico_cart_active{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) 0 -33px no-repeat, #<?=$cor_default?>;}

div.ico_user{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) -30px -63px no-repeat;}
div.ico_user_active{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) 0 -63px no-repeat, #<?=$cor_default?>;}

div.ico_calendar{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) -30px -98px no-repeat;}
div.ico_calendar_active{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) 0 -98px no-repeat, #<?=$cor_default?>;}

div.ico_support{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) -30px -130px no-repeat;}
div.ico_support_active{ width:29px; height:30px; float:left; border:0px; margin:2px 3px 0 0; background:url(<?=URL_ASSETS?>/images/menu_central.png) 0 -130px no-repeat, #<?=$cor_default?>;}

#mainframe	#detalhes_cad { float:left; overflow:auto;  width:370px; padding:5px 5px 5px 10px; }
#mainframe	#detalhes_cad .label_cad{ float:left; color:#666; font: 13px "Open Sans", Arial, Helvetica, sans-serif; }
#mainframe	#detalhes_cad .label_cad b{ font:14px "Open Sans", Helvetica, sans-serif;  font-weight:bold; color:#333;}

#mainframe	#aviso_cad { float:right; height:70px; margin:10px 5px 10px 0; width:220px; padding: 10px 15px 10px 15px;}
#mainframe	#aviso_cad p { float:left; font: 11px Arial, Helvetica, sans-serif;}
#mainframe	#aviso_cad p i {float:left; margin: 0;}
#mainframe	#aviso_cad p b { float:left; margin: 10px 10px 0;  font: 14px "Open Sans", Arial, Helvetica, sans-serif; font-weight:600; }

#mainframe	#detalhes_cad .label_cad_tel p{border: 1px #F00 solid; color:#666; font: 13px "Open Sans", Arial, Helvetica, sans-serif; }
#mainframe	#detalhes_cad .label_cad_tel input{ font-family:"Open Sans", Arial, Helvetica, sans-serif; font-size:14px;}
#mainframe	#detalhes_cad .label_cad_tel p .input_sem_espaço{ float:left; margin-bottom:0px;}
#mainframe	#detalhes_cad .label_cad_tel .buttonCEP{ font-size:13px; font-family:"Open Sans", Arial, Helvetica, sans-serif; font-weight:bold;}

.btCEP{font-weight:600; font-size:12px; font-family:"Open Sans", Arial, Helvetica, sans-serif;}
.btSub{font-size:12px; font-family:"Lucida Sans", Arial, Helvetica, sans-serif;}
.btSubmitCadastro{font-weight:600; display:block; font-size:13px; font-family:"Open Sans", Arial, Helvetica, sans-serif;}

#mainframe #areasubmit{ display:block; border-top:1px dotted #eee; padding-top:10px; padding-bottom:30px;}

#mainframe #boxes_suporte{ display:block; overflow:auto;}
#mainframe .box_tipo_suporte { float:left; width:210px; padding: 10px; display:block;}
#mainframe .tit_suporte b { font-family:'Open sans', Arial; font-size:18px; font-weight:600; display:block;}

#mainframe .box_tipo_suporte .tit_suporte p { margin-top:10px; font-size:13px; } 
#mainframe .box_tipo_suporte .tit_suporte button{ }

#mainframe .box_tipo_suporte2 { float:left; width:180px; padding: 10px; display:block; border-right:1px dotted #ccc;}
#mainframe .box_tipo_suporte2 .tit_suporte p { margin:10px 0 0 0;  font-size:13px;} 
#mainframe .box_tipo_suporte2 .tit_suporte a{ margin-top: 10px; float:left; text-decoration:none;  }


#mainframe #duvidas_suporte{ padding:10px; display:block; overflow:auto; width:670px;}
#mainframe #duvidas_suporte input { float:left; width:500px; font-size:16px; padding:10px; margin-right:15px;}

#mainframe #duvidas_suporte  #duvidas_financeiro_produtos{ overflow:hidden; display:block; margin-top:20px; }

#mainframe #duvidas_suporte  #duvidas_financeiro_produtos .boxs_financeiro_produtos { float:left; width:324px; height:auto;}
#mainframe #duvidas_suporte  #duvidas_financeiro_produtos .boxs_financeiro_produtos b { display:block; font-weight:bold; font-family: 'Open sans', Arial; font-size:18px;}
#mainframe #duvidas_suporte  #duvidas_financeiro_produtos .boxs_financeiro_produtos ul { float:left; margin-left:20px; height:130px;}
#mainframe #duvidas_suporte  #duvidas_financeiro_produtos .boxs_financeiro_produtos ul li { font-family: Arial, Helvetica, sans-serif; font-size: 12px; list-style-image:url(<?=URL_ASSETS?>/img/icons/16x16/arrow-right.png); margin-bottom: 10px; margin:10px 0; padding-bottom:5px;}

#mainframe #duvidas_suporte #todas_perguntas { width:315px; padding:5px; background: #d6d4d4; float:left; text-align:right; font-family: 'Open sans', Arial; font-size:12px;}
#mainframe #duvidas_suporte #todas_perguntas p{ overflow:auto;}
#mainframe #duvidas_suporte #todas_perguntas .btn-link {color:#c00; font-weight:600;}



#mainframe #numero_ticket {display:block; overflow:auto; color:#666; padding: 10px 0 10px; font: 14px "Open sans"; font-weight:600px; border-bottom: 1px #f2f2f2 dotted;  }
#mainframe #numero_ticket li .espaco-icon{ margin:3px 5px 0 0;}
#mainframe #numero_ticket li { float:left; padding: 0 10px 0 10px; list-style:none; border-right: 1px #666 dotted; font-size:13px;}
#mainframe #numero_ticket li b { font-family:"Open Sans", sans-serif !important; font-weight:700; }
#mainframe #numero_ticket p .btn-link { margin-left:50px;}
	
	
#mainframe #tit_ticket_status { display:block; overflow:auto;}
#mainframe #tit_ticket_status #tit_ticket { float:left; width:400px; height:auto; font: 18px "Open Sans", Helvetica, sans-serif; font-weight:bold; padding-top: 15px; letter-spacing:-1px;}
#mainframe #tit_ticket_status #ticket_status { float:right; }
#mainframe #tit_ticket_status #ticket_status .label { color:white; font-size:20px;padding:5px 10px; display:block; overflow:auto; font-family:"Franklin Gothic Medium Cond"; }

#mainframe .ticket_pergunta_resposta {display:block; overflow:auto; height:auto; width:660px; background: #F4F4F4; padding: 10px 15px 0px 15px; }

#mainframe .ticket_pergunta_resposta .ticket_nome_data { display:block; overflow:auto; border-bottom: dotted 1px #e0dede; padding-bottom:5px;}
#mainframe .ticket_pergunta_resposta .ticket_nome_data .ticket_nome i{ margin:2px 5px 0 0;}
#mainframe .ticket_pergunta_resposta .ticket_nome_data .ticket_nome .icon-support2 { background: url(<?=URL_ASSETS?>/img/icons/24x24/support2.png) no-repeat; width:16px; height:16px; padding-top:3px; float:left;}
#mainframe .ticket_pergunta_resposta .ticket_nome_data .ticket_nome { float:left; width:300px; height:auto; font-family:'Roboto', Arial;font-size:13px; white-space:nowrap; font-weight:600;}
#mainframe .ticket_pergunta_resposta .ticket_nome_data .ticket_data { float:right; overflow-y: hidden; padding:0 5px 0px 5px; font-family:'Roboto', Arial;font-size:13px; font-weight:600; white-space:nowrap;}

#mainframe .ticket_pergunta_resposta .ticket_area_texto{ display:block; /*overflow:auto;*/ color:#666; text-align:justify; margin-bottom:10px; padding-top:10px; font-family:"Lato", sans-serif; font-size:13px;}


#mainframe #ticket_resposta { display:block; overflow:auto; margin:10px 0 10px 0; }
#mainframe #ticket_resposta b { float:left; font-family:'Open sans', Arial; font-size:14px; font-weight:600;}
#mainframe #ticket_resposta button { margin-right:10px; font-size:12px;}
#mainframe #ticket_resposta #ticket_resposta_textarea {float:left; width:690px; height:95px; resize:none; font-size:13px;}

#mainframe #ticket_resposta #texto_checkbox { font-family:'Open sans', Arial; font-size:13px;}

.box_input_registro{border:2px solid #d0d0d0; background:#eee; font:27px Arial, sans-serif; color:#999; display:block; padding-left:5px; float:left; margin-top:10px; margin-bottom:10px;}

.box_input_registro input[type=text]{ border:0px; font:27px Arial, sans-serif; width:350px; padding:5px; color:#000; box-shadow: none;}
.box_input_registro select{ border:0px; font:27px Arial, sans-serif; color:#000; height:44px; width:145px;}

.registro_txt_resposta{overflow:auto; float:left; font:13px Tahoma, Arial;}
#tab_precos_dominios{overflow:hidden; float:left; width: 265px; font:16px "Open Sans", Arial; background:url(<?=URL_ASSETS?>/images/alerticon.png) top left no-repeat; padding-left:38px; margin-top: 10px; margin-left: 10px;}
.disponivel{ color:#093; padding-left:20px; background:url(<?=URL_ASSETS?>/images/ico_yes2.png) left no-repeat;}
.indisponivel{ color:#c00; padding-left:20px; background:url(<?=URL_ASSETS?>/images/ico_delete4.png) left no-repeat;}


body {
    background-image: url(<?=URL_ASSETS?>/images/bg_nuvens.png);
    background-repeat: repeat-x;
    background-color: #ffffff;
    background-attachment: fixed;

    /*background-size: 100% 100% !important;*/
}

#table_carrinho{ border:1px solid #666;}
#table_carrinho th{ 
	background: #FFFFFF;
    padding: 5px 10px;
    font-size: 13px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #1F1736;
    text-align: left;
    font-weight: bold;
}
#table_carrinho td{ background:#fff; padding:5px 10px; font-size:13px; font-family:"Lato", Arial, Helvetica, sans-serif !important; color:#000; text-align:left; border-bottom:1px solid #eee; }
#table_carrinho td b{ color: #666; font-family:"Roboto", Arial, Helvetica, sans-serif !important; font-weight:bold;}

.line_cupom_pedido{
	background: #eee;
    color: #c00;
    padding: 5px;
    text-align: left;
    padding-right: 13px;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    overflow: auto;
}

.line_cupom_pedido b {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin: 7px;
    color: #333;
}

.line_cupom_pedido input{
	margin-bottom: 0px;
	width: 135px !important;
}

.line_cupom_pedido .msg_cupom{
	float: right;
    margin: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: #2A7743;
}

.line_cupom_pedido a {
    float: left;
    margin-left: 6px;
    font-family: "Roboto", Arial,sans-serif;
    font-size: 13px;
    padding: 8px;
    font-weight: 400;
}

.line_total_pedido{
	background: #666;
    color: #FFF;
    padding: 5px;
    text-align: right;
    padding-right: 13px;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    font-family: "Roboto", Arial, sans-serif;
}

.label_pagamentos{font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
font-weight: 600;
font-size: 15px;
background: url(<?=URL_ASSETS?>/images/br_down.png) no-repeat 0 2px; padding-left: 20px;
}
.label_pagamentos_down{
font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
font-weight: 600;
font-size: 15px;
background: url(<?=URL_ASSETS?>/images/br_next.png) no-repeat 0 2px; padding-left: 20px;
}

.selectableCheck{display: none;}

.txt_pagamentos{
	width: 600px;
	margin-bottom: 10px;
	display: block;
	color: #666;
	font-family: "Lato", Arial, Helvetica, sans-serif !important;
	font-size: 13px;
}

.titulo_whois{font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
font-weight: bold;
font-size: 16px !important;
text-align: center !important;
color: #9AC003;
border-bottom:0px !important;}

.modal_texto p{ font-family:Arial, Helvetica, sans-serif !important; font-size:13px; margin:0px;}

.resposta_whois{ border:7px solid #e5e5e5; border-radius:10px; padding:20px 20px 10px 20px; overflow:auto; background: #fff;}
.resposta_whois table#searchresults td.available.true {
background: url("<?=URL_ASSETS?>/images/icon-available.png") no-repeat scroll left center transparent;
color: #84A23B;
font-size: 21px;
font-weight: bold;
line-height: 30px;
min-width: 360px;
}

.resposta_whois table#searchresults td.available {
padding-left: 70px;
padding-right: 20px;
}
.resposta_whois table#searchresults td {
vertical-align: middle;
white-space: nowrap;
}

table#searchresults td.available.true .domain {
color: #3C3C3C;
}

#tabInstall{ background:#eee; font-family:"Lato", Arial, Helvetica, sans-serif; font-size:13px;}
#tabInstall td{ padding:5px;}

.inst_ok{ color:#093; font-weight:bold; font-family:"Lato", Arial, Helvetica, sans-serif; font-size:13px;}
.inst_fail{ color:#c00; font-weight:bold; font-family:"Lato", Arial, Helvetica, sans-serif; font-size:13px;}

.logo_login{
	text-align: center;
    margin-bottom: 20px;
}

#gpro_wrap_login .container{margin: 15px 25px;}

#centro {
	width: 400px;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -200px;
}